<!DOCTYPE html>
<html ng-app="weatherApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <div class="row" ng-controller="WeatherController">
        <ul class="thumbnails">
            <li class="span5" ng-repeat="city in weather">
                <h2>{{city.current_observation.display_location.full}}</h2>
                <strong>{{city.current_observation.weather}}</strong><br/>
                <strong>{{city.current_observation.temp_f}} F</strong><br/>
                <img src="http://icons.wxug.com/i/c/i/{{city.current_observation.icon}}.gif"/>
            </li>
        </ul>
        <span>Difference in temperatures of two cities: {{weather | degreesDiff}}</span>
    </div>
</div>

<script type="text/javascript" src="lib/jquery.min.js"></script>
<script type="text/javascript" src="lib/underscore-1.4.4.min.js"></script>
<script type="text/javascript" src="lib/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/angular/angular.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/WeatherController.js"></script>
<script type="text/javascript" src="js/services/WeatherService.js"></script>
<script type="text/javascript" src="js/filters/filters.js"></script>
</body>
</html>